.sidebar {
    width: 192px;
    height: 96%;
    background-color: #181A1B;
    border-radius: 10px;
    opacity: 0.85;
    position: fixed;
    margin-top: 1%;
}
img.ava {
    border-radius: 50%;
    margin-top: -25%;
    /* margin-left: 10%; */
    transform: scale(.8);
}
div.avatar {
    text-align: center;
}
div.avabg {
    height: 140px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-position: -1020px -198px;
}
ul.flist {
    right: 40px;
    width: fit-content;
    list-style: none;
    position: relative;
}
li.node {
    display: inline;
    margin-bottom: 5% !important;
}
div.select {
    float: left;
    position: relative;
    width: 3px;
    height: 27px;
    background-color: rgb(51 69 169);
    visibility: hidden;
}
div.content {
    position: relative;
    left: 26px;
    bottom: 1px;
    width: 150px;
    height: 30px;
    border-radius: 5px;

    /* box-shadow: 0.4px 0.4px 0.4px 0.4px rgba(255, 255, 255, 0.041); */
}
div.icon {
    position: relative;
    top: 2.5px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    opacity: 60%;
    background-color: rgba(240, 248, 255, 0.185);
    text-align: center;
    display: inline-block;
}
embed.ico {
    position: relative;
    top: 14%;
    left: 3%;
}
span.text {
    color: #ffffffc7;
    position: relative;
    left: 6%;
    top: 7%;
}
div.gap {
    height: 10px;
}
/* div.content:focus {
    box-shadow: 0.4px 0.4px 0.4px 0.4px rgba(255, 255, 255, 0.041);
} */
.node:hover .content {
    box-shadow: 0.4px 0.4px 0.4px 0.4px rgba(255, 255, 255, 0.041);
}
.node:hover .select {
    visibility: visible;
    opacity: 0.65;
    transition:  visibility 3000ms ease-out, opacity 3000ms ease-out 500ms;
}